<%= form_with(model: lineitem, local: true) do |form| %>
  <% if lineitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lineitem.errors.count, "error") %> prohibited this lineitem from being saved:</h2>

      <ul>
        <% lineitem.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :invoice_id %>
    <%= form.text_field :invoice_id %>
  </div>

  <div class="field">
    <%= form.label :metalitem_id %>
    <%= form.text_field :metalitem_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
