<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice number:</strong>
  <%= @invoice.invoice_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @invoice.description %>
</p>

<p>

<table>
  <thead>
    <tr>
      <th>Metal Item Description:</th>
      <th>Metal Item Quantity:</th>
      <th>Metal Item Unit Price:</th>
      <th>Unit Total:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% running_total = 0 %>
    <% @invoice.metalitems.each do |metalitem| %>
      <tr>
        <td><%= metalitem.description %></td>
        <td><%= metalitem.quantity %></td>
        <td><%= metalitem.unit_price %></td>
        <td><%= metalitem.quantity * metalitem.unit_price %></td>
        <% running_total = running_total + (metalitem.quantity * metalitem.unit_price) %>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Invoice Total:</strong>
  <%= running_total %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
